<style>
    .footer{
        z-index: 10;
    }



    .footer {
        /* position: absolute; */
        bottom: 0;
        left: 0;
        right: 0;
        background: #08244D;

    } 

    p{
        color: #FF9000;
    }


</style>

<footer class="footer  p-lg-3">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Ajoutez un message final mémorable et percutant ici.</p>
        
        </div>

        <div class="col-md-4">
            <p><i class="fa fa-map-marker"></i><span> 12 rue Saint-Lazard</span> Paris, France</p>
            <p><i class="fa fa-phone"></i> (+33) 7 69 88 36 73</p>
        </div>
        <div class="col-md-3">
            <p><i class="fa fa-envelope"></i><a href="#"> CHARLYEXPRESS@gmail.com</a></p>
        </div>

        </div>
    <div class="col-md-10">
        <a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a>
        <a href="http://webenlance.com"><i class="fab fa-twitter"></i></a>
        <a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a>
        <a href="http://webenlance.com"><i class="fab fa-instagram"></i></a>
    </div>
    </div>
</footer>