{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container bg-dark">
        <div class="row">
            {% include "_includes/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1 class"text-white">Administration</h1>
            </main>
        </div>
    </div>
{% endblock %}