{# Pour afficher tout ce qu'il y a dans le fichier base.html #}
{% extends 'base.html.twig' %}

{% block title %}Administrateur des utilisateurs{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Administrateur des utilisateurs </h1>
    </div>


{% endblock %}